snippet cdobj "@contextDump object" b
{@contextDump key="${1:object}" to="${2:output}" /}
endsnippet

snippet cdcur "@contextDump current" b
{@contextDump key="current" to="${1:output}" /}
endsnippet

snippet cdful "@contextDump full" b
{@contextDump key="full" to="${1:output}" /}
endsnippet

snippet pre "@pre" b
{@pre key="${1:content}" key="${2:key} "/}
endsnippet

