snippet cdcurrent "@contextDump current" b
{@contextDump key="current" to="${1:output}" /}
endsnippet

snippet cdfull "@contextDump full" b
{@contextDump key="full" to="${1:output}" /}
endsnippet

snippet pre "@pre" b
{@pre key="${1:content}" key="${2:key} "/}
endsnippet

