snippet cdobj "@contextDump object" b
<pre>{@contextDump key="${1:object}" to="${2:output}" /}</pre>
endsnippet

snippet cdcur "@contextDump current" b
<pre>{@contextDump key="current" to="${1:output}" /}</pre>
endsnippet

snippet cdful "@contextDump full" b
<pre>{@contextDump key="full" to="${1:output}" /}</pre>
endsnippet

snippet pre "@pre" b
<pre>{@pre key="${1:content}" key="${2:key} "/}</pre>
endsnippet
