snippet link:m "Mainfest link" b
<link rel="manifest" href="${1:manifest.json}">
endsnippet

snippet link:c "Canonical url" b
<link rel="canonical" href="${1:http://www.example.com/}">
endsnippet

snippet script:jq "JQuery script include" b
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
endsnippet
