snippet prepo "Description" b
"repository": {
  "type": "git",
  "url": "https://${1:host}github.com/${2:path}"
},
"bugs": {
  "url": "https://$1github.com/$2/issues"
},
"homepage": "https://$1github.com/$2#readme",
endsnippet
