snippet code "Source codes" b
```javascript
  ${1:codes}
```
endsnippet

snippet codejs "JS source codes" b
```javascript
  ${1:codes}
```
endsnippet

snippet codesh "JS source codes" b
```sh
  ${1:codes}
```
endsnippet
