snippet codejs "JS codes" b
\`\`\`js
$1
\`\`\`
endsnippet

snippet codehtml "HTML codes" b
\`\`\`html
$1
\`\`\`
endsnippet

snippet codejson "JSON codes" b
\`\`\`json
$1
\`\`\`
endsnippet


snippet codesh "Shell codes" b
\`\`\`sh
$1
\`\`\`
endsnippet
